body {
background-image: url(../Imagenes/hexagono.jpg);
     background-size:cover;
background-attachment:fixed;
background-position:center
background-repeat:no-repeat;
text-align: center; 
min-width: 200px;
}
#mitadheader {
    outline-color: inherit;
outline-style:inherit;
outline-width:inherit;
text-align: center;
}
.left{
text-align: left;
float: left
}
.marco2 {
    padding: 0.01%;
    border-color: blue;
    width: 100%;
    min-width: 300px;
    height: 300px;
    Box-sizing:border-box;
    text-align: center;
    margin-bottom: 2% ;
}

.marco img {
    width: 100%;
    height: 100%;
}
.marco2 img {
    width: auto;
    height: 100%;
}
.marco3 {
    padding: 0%;
    background-color: white;
    width: 100%;
    Box-sizing:border-box;
    text-align: justify;
    margin-bottom: 2% ;
    display:inline-block; 
    line height: 10px;
    
}
.marco3 img {
    margin: auto;
}
.titulo {
    font-size: 22;
    font-family: verdana;
    color: black;
}
a {
text-decoration: none;
color: pink;
}
.contenedor {
    width: 100%;
    height: auto;
    min-width: 300px;
    margin:0 auto;
    text-align: center;
}
.contenedoracord {
    width: 25%;
    height: auto;
    max-width: 1000px;
    min-width: 300px;
    margin:0 auto;
    Box-sizing:border-box;
    display: inline-block;
    font-family: verdana;
    margin-bottom: 2%;
    margin-right: 1%;
    float: left;
}

.contenedoracord .menu {
width: 100%;
}

.contenedoracord ul{
list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.contenedoracord .menu ul{
display: none;
}

.contenedoracord .menu ul li a{
background: gray;
    color: white;
}

.contenedoracord .menu li a{
color: black;
display: block;
    padding: 15px 20px;
    background: white;
}

.contenedoracord .menu li a:hover{
color: white;
background: #2E2E2E;
}

.contenedoracord .menu .icono{
font-size: 14px;
line-height: 16px;
}

.conenedoracord .menu .icono .izquierda{
float: left;
margin-right: 10px;
}

.conenedoracord .menu .icono .derecha{
float: right;
}

.contenedoracord .menu .menu .activado > a{
    background: blue;
    color: white;
}
p {
    font-family: verdana;
    font-size: 8pt;
    color: black;
}

.imagen {
    height: auto;
    align-content: left;
    
}

.descripcion {
    font-family: verdana;
    font-size: 20pt;
}
.search {
    width: 50%;
    
}

#block {
    display: inline-block;
    vertical-align:top;
}
#block2 {
    display: inline-block;
    vertical-align:top;
    background-color: transparent;
}

.slides {
    width: 100%;
    height: auto;
    background-color: lightblue;
    
}

.slides img{
    width:auto;
    height: 100%;
}

.slidesjs-pagination {
    background: white;
    list-style: none;
    overflow: hidden;
    background: lightblue;
    margin:auto;
}

.slidesjs-pagination li {
float: left;
}

.slidesjs-pagination li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: impact;
    text-decoration: none;
}

.slides .active {
background: blue;
}

.slidesjs-pagination li a:hover {
background: blue;
}

.slidesjs-navigation{
background: lightblue;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    float: right;
    width: auto;
}

#10 {
    width: 10%;
}

#link {
    vertical-align
    margin: auto;
    height: 25px;
    width: 100%;
    font-family: arial;
    font-size: 11pt;
}

header {
    width: 100%;
    height: auto;
    background-color: white;
    overflow: hidden;
    display:inline-block;
    margin-bottom: 2%;
    
}
.search {
    width: 50%;
    
}
.contenedormayor {
    height: auto;
    width: 70%;
    display: inline-block;
    vertical-align:top;
    float: right;
}

@media screen and (max-width: 1100px){
   .contenedormayor{
   width: 65%;
   }
}
@media screen and (max-width: 990px){
   .contenedormayor{
   width: 60%;
   }
}
@media screen and (max-width: 890px){
   .contenedormayor{
   width: 55%;
   }
}
@media screen and (max-width: 790px){

    .contenedor{
    width: 100%;
    }
   .contenedoracord{
    width: 100%;
       float: inherit;
    }
    .contenedormayor{
    width: 100%;
        float: inherit;
}
       table {
    max-width: 100%;
    }
}


@media screen and (max-width: 470px){
    .contenedor{
    width: 100%;
    }
       table {
    max-width: 100%;
       }
    .slides{
    width:100%;
    }
    header {
    width: 100%;
    }
    .slidesjs-pagination {
        width: 100%;
        margin:auto;
    }
    .slidesjs-navigation {
        width: 20%;
        margin:auto;
    }
}
@media screen and (max-width: 400px){

}
@media screen and (max-width: 300px){
    
  
.slidesjs-pagination {
        margin:auto;
width: 100%;
}
    .slidesjs-navigation{
        margin:auto;
    width: 20%
    }
}
